.cardContainer{
    justify-content: center;
    display: grid;
    grid: auto / auto auto auto auto;
    margin-top: 50px;
}

.cartHeader{
    color: #000;
    padding-top: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}

.checkout-button-area{
    text-align: right;
    margin: -40px 40px 5px;

}

.error{
    text-align: center;
    font-size: 36px;
    font-weight: 800px;
    margin: 40px 0px 190px 0px;
}

.searchContainer{
  padding: 50px 200px 0 200px;
}

.btn-search {
	  background: #424242;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #1c1c1c;
	}
	.btn-search:link, .btn-search:visited {
	  color: #fff;
	}
	.btn-search:active, .btn-search:hover {
	  background: #1c1c1c;
	  color: #fff;
	}