.orderContainer{
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;
}

.orderHeader{
    color: #000;
    padding-top: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}

